@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --color-fd-primary: #3eaf7c;
  --color-fd-ring: #3eaf7c;
}

/* 首页顶栏全宽单行 */
.site-nav-bar {
  --fd-layout-width: 100%;
}

.site-nav-bar > div:first-child {
  max-width: none;
}

#nd-nav > div,
.site-nav-bar > div {
  max-width: none;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
